.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    border-left: 1px solid  rgba(255, 255, 255, 0.393);
    height: 100%;
    width: 88px;

    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.865);
        margin: 25px 0;

        &:hover {
            opacity: 0.3;
        }
    }
}